.AboutContainer {
	padding: 0px 150px 0px 150px;
	text-align: justify;
	margin-top: 100px;
}

.ProfilePicContainer {
	text-align: center;
	margin-bottom: 60px;
}

.ProfilePic {
	height: 300px;
	width: 300px;
	border-style: solid;
	border-radius: 500px;
	border-color: #AAAAAA;
}
