@import './shared.scss';

.Banner {
  background-color: black;
  height: 80vh;
  width: 100vw;
  color: white;
  position: relative;
  text-align: center;
}

.ImageContainer {
  height: 100%;
}

.BannerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.BannerTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  transform: translate(-50%, -50%);
}

.BannerText {
  color: white;
  font-size: 50px;
}

.ScrollSection {
  margin-bottom: 50px;
}

.ScrollSection > h1 {
  text-align: center;
}


@media (min-width: $mobile-size) and (orientation:landscape) {
  .contentContainer {
    margin-top: $navbar-height;
  }
  .Footer {
    margin: 40vw 0px 50px 0px;
  }
  .scrollElement {
    height: 100vh;
  }
}