@import './shared.scss';

.ContactContainer {
	text-align: center;
}

.FooterLink {
    box-sizing: border-box;
	height: 80px;
	width: 80px;
	padding: 10px;
	border-radius: 10px;
	border-width: 10px;
	border-color: white;
	border-style: solid;
}

.FooterLink:hover {
	border-style: none;
}