@import './shared.scss';

.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	position: fixed;
	top: 0;
}

.navLeft {
	cursor: pointer;
	font-size: 15px;
}

.navRight {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
	font-size: 15px;
}

.navItem {
	cursor: pointer;
}

@media (min-width: $mobile-size) and (orientation:landscape) {
	.container {
		height: $navbar-height;
		display: flex;
		flex-direction: row;
	}
	.navLeft {
		width: 50vw;
		padding-left: 20px;
		text-align: left;
	}
	.navRight {
		width: 50vw;
		flex-direction: row;
		justify-content: center;
	}
	.navItem {
		margin-left: 70px;
	}

}
