.RankingsContainer {
	padding: 50px;
	text-align: justify;
	flex-direction: row;
	display: flex;
	justify-content: center;
}

.PlayingContainer {
	text-align: left;
	flex-direction: column;
	display: flex;
	margin: 0px 100px 0px 100px;
}